.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.mobileprovision
*.p12
.env

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
coverage/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
